
<div class="container">
  <h2>Add a Bookmark to <%= @list.name %></h2>

  <%# <%= simple_form_for([@parent, @child]) do |f| %>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit 'Add bookmark', class: 'btn btn-primary' %>
  <% end %>
</div>
